@import "functions";/* file: _functions.scss, must be attached first*/
@import "variables";
@import "mixins";

header.container-fluid,
main.container-fluid {
	padding-right: 0;
	padding-left: 0;
}
.heading{
		h2{
			text-decoration: underline;
		}
		padding-bottom: 50px;
	}
section#section1 {
	padding-top: 80px;
	padding-bottom: 50px;
	background: url('../img/intro-bg2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	@include xs-screens {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	div#intro{
		font-size: 22px;
		color: $blue-marine;
		h1{
			font-weight: bold;
			text-align: center;
		}
		p{
			font-weight: bold;
			text-indent: 30px;
		}
	}
}
section#section2 {
	background-color: #fff;
	color: $blue-marine;
	padding-top: 50px;
	padding-bottom: 80px;	
	div.container{
		div.row{
			@include xs-screens {
				padding-left: 100px;
				padding-right: 100px;
			}
			@include small-xs-screens {
				padding-left: 20px;
				padding-right: 20px;
			}
			div.skill{
				background-color: $blue-marine;
				color: #fff;
				min-height: 100px;
				border: 2px solid #fff;
				border-radius: 5%;
				cursor: pointer;
				&:hover {
					background-color: darken($blue-marine, 5%);
				}
				@include sm-screens {
					text-align: center;
				}
			}
			div.round{
				border-radius: 50%;
				text-align: center;
				@include xs-screens {
					border-radius: 5%;
				}
			}
		}
	}				
}
section#section3 {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #c0c1c6;
	background: url('../img/section3background.png');
	background-size: cover;
	background-repeat: no-repeat;
	
/*=======animation css for md-screens+ ===========*/
	@include md-screens-plus {
		height: 100%;
		width: 100%;
		background-color: hsla(200,40%,30%,.4);
		background-image:		
			url('../img/bg-clouds.png'), 
			url('../img/section3background.png');
			
		background-repeat: repeat-x ;
		background-position: 
			10% 0,
			0 100%;
			
		background-size: 
			25000px,
			cover;
			
		-webkit-animation: 50s para infinite linear;
		        animation: 50s para infinite linear;
		@-webkit-keyframes para {
			100% {
				background-position: 
					-15000px 20%,
					0 100%;					
			}
		}

		@keyframes para {
			100% {
				background-position: 
					-5000px 20%,
					0 100%;					
			}
		}
	}
/*============ End animation css for md-screens+ ===============*/


	div.heading{
		color: $blue-marine;
		h2{
				text-decoration: underline;
		}
		padding-bottom: 50px;
	}
	div#myProjects {
		
	}
}
section#section4 {
	padding-top: 50px;
	padding-bottom: 50px;
	color: $blue-marine;
	div.history{
		font-size: 16px;
	}
}
.indent{
	text-indent: 40px;
}
footer {
	background-color: $blue-marine;
	padding-top: 70px;
	padding-bottom: 70px;
	@include sm-screens {
		padding-top: 10px;
		padding-bottom: 20px;
	}
	div#top-footer {
		.diamond{
      margin-left: 200px;
      width:300px;
      height:300px;
      background:#fff;
      transform:rotate(45deg);
      -ms-transform:rotate(45deg);
      -webkit-transform:rotate(45deg);
      position:relative;
      @include sm-screens {
      	display: none;
      }
      
      .diamond-inner{
	      color:$blue-marine;
	      font-weight:bold;
	      font-size:1.2em;
	      line-height:1.4em;
	      text-align:center;
	      transform:rotate(-45deg);
	      -ms-transform:rotate(-45deg);
	      -webkit-transform:rotate(-45deg);
	      position:absolute;
	      top:80px;
	      left:20px;
	      p{
	      	a{
	      		color: $blue-marine;
	      		text-decoration: none;
	      		&:hover{
	      			color: darken($blue-marine, 10%);
	      		}
	      	}
	      }
	      
	      @include sm-screens {
	      	
	      	top:20px;
	      	left:-5px;
	      }
	    }
    }
    div.contactMe {
    	@include sm-screens {
    		padding: 10px 100px;
    	}
    	@include xs-screens {
    		padding: 0px 50px;
    	}
    	@include small-xs-screens {
    		padding: 0px 10px;
    	}
    	form#gform{
				h3,label{color: #fff;}
				button{color: $blue-marine;}
    	}
    	div#thankyou_message{
    		h3{color: #fff;}
    	}
    }
	}
}
div#bottom-footer {
	padding-top: 10px;
	color: $blue-marine;
}
/* Modals CSS:*/
div#angularJs {
		background-image: url("../img/globalmap3.png");
		background-size: cover;
		background-repeat: no-repeat;

}
/* ===============Spinner div#flipper css start:=================================*/
 /* WebKit and Opera browsers */
  @-webkit-keyframes flipper {
    from { -webkit-transform: rotateY(0deg);    }
    to   { -webkit-transform: rotateY(-360deg); }
  }

  /* all other browsers */
  @keyframes flipper {
    from {
      -ms-transform: rotateY(0deg);
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
    to {
      -ms-transform: rotateY(-360deg);
      -webkit-transform: rotateY(-360deg);
              transform: rotateY(-360deg);
    }
  }
	#flip-frame{
		-webkit-perspective: 1200px;
		-ms-perspective: 1200px;
		-webkit-perspective: 1200px;
	  #flipper{
			-webkit-animation-name: flipper;
			-webkit-animation-timing-function: linear;
			-webkit-animation-iteration-count: infinite;
			-webkit-animation-duration: 6s;

			animation-name: flipper;
			animation-timing-function: linear;
			animation-iteration-count: infinite;
			animation-duration: 6s;

			-webkit-transform-style: preserve-3d;
			transform-style: preserve-3d;
			&:hover{
				-webkit-animation-play-state: paused;
    		animation-play-state: paused;
			}
	  }
	}
/* ===============Spinner div#flipper end======================================*/

/* styling the JS jquery animations etc.*/
div.back-to-top {  background: none; 
        margin: 0; 
        position: fixed;
        bottom: 5%;
        right: 10%;
        width: 50px;
        height: 50px;
        z-index: 100;
        display: none;
        text-decoration: none;        
        background-color: #f4f4f4; 
        font-size: 30px; 
        padding-left:15px;
        opacity: .8;

}

/* Tooltip -----------------------------------------------*/
.tooltip{display: inline-block; width: 120px;}
div.back-to-top a + .tooltip > .tooltip-inner {
      background-color: #6ec5ea; 
      color: $blue-marine;  
      padding: 5px;
      font-size: 14px;
}
div.back-to-top a + .tooltip.top > .tooltip-arrow {
      border-top: 5px solid $blue-marine;
}
/*-----------------------------------------------*/