<!DOCTYPE html>
<html>
<head>
	<title>Serge - My Web Developper's Resume</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/png" href="img/favicon.png">
  <!-- Libs CSS:  -->
	 <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- Libs JS:  -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.7/angular.min.js"></script>
	<!--Fontawesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!--Customized Bootstrap css: -->
	<link rel="stylesheet" type="text/css" href="libs/bootstrap-customized/css/bootstrap_skin.css">
	<!-- Main JS:  -->
	<script type="text/javascript" src="js/main.min.js"></script>
	<!-- Main css:  -->
	<link rel="stylesheet" type="text/css" href="css/main.min.css">
	<!--Angular myApp setups: -->
	<script type="text/javascript">
		angular.module("testApp", []);
	</script>
	<!--  MAIN CONTROLLER: -->
	<script type="text/javascript" src="myApp/controllers/main-controller.js"></script>
	<script type="text/javascript" src="myApp/controllers/check-answers.js"></script>
	<!--[if lt IE 9]>
	<script src="libs/html5shiv/html5shiv.min.js"></script>
	<script src="libs/respond/respond.min.js"></script>
	<![endif]-->
</head>
<body>
<!-- ======================== HEADER START ================================================== -->
<header class="container-fluid">
	<div id="top-header">
		<nav class="navbar navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="https://serge-resume-web-dev.github.io">Serge - My Web Developper's Resume</a>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#section1">Intro</a></li>
						<li><a href="#section2">Skills</a></li>
						<li><a href="#section3">Projects</a></li>
						<li><a href="#section4">Background</a></li>
						<li><a href="#gform">Contact me</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
</header>
<!-- ======================= HEADER END =========================================== -->
<!-- ======================= MAIN START =========================================== -->
<main class="container-fluid">
<!-- SECTION 1 -->
	<section id="section1" class="container-fluid">
		<div class="container" id="intro">
			<div class="row">
				<div class="col-lg-6 col-md-8 col-sm-8 hidden-xs">
					<h1>Good day!</h1>
					<p>Thank you for visiting my resume page: my name is Serge, I am a learning front-end developper looking for expanding my experience and eventually a new professional opportunity within the front-end development.</p>
				</div>
				<div class="col-xs-12 hidden-sm hidden-md hidden-lg">
					<h1>Hello!</h1>
					<p>Thank you for visiting my resume page: my name is Serge, I am a learning front-end developper</p>
				</div>					
			</div>
		</div>
	</section>
<!-- SECTION 2 -->
	<section id="section2" class="container-fluid">

		<div class="container">
			<div class="row heading">
				<h2 class="text-center">My skills:</h2>
				
			</div>
			<div class="row">
				<div class="col-lg-3 col-lg-offset-3 col-md-3 col-md-offset-3 col-sm-4 col-sm-offset-2 skill" data-toggle="modal" data-target="#htmlCss">
					<h3>HTML / CSS3 / CSS Preprocessors sass,scss </h3>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-4 skill" data-toggle="modal" data-target="#reactJS">
					<h3>ReactJS/ react-redux</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1 col-sm-4 skill" data-toggle="modal" data-target="#javaScriptSkill">
					<h3>JavaScript</h3>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-4 skill" data-toggle="modal" data-target="#bootstrapSkill">
					<h3 >Bootstrap</h3>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 skill" data-toggle="modal" data-target="#jQuerySkill">
					<h3>jQuery / jQueryUI</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3 col-md-4 col-sm-6  skill" data-toggle="modal" data-target="#backEnd">
					<h3>Basic Back-End</h3>
					<p>PHP and MySQL basics overview</p>
				</div>
				<div class="col-lg-2 col-md-3 col-sm-6 skill" data-toggle="modal" data-target="#devTools">
					<h3>Software and tools</h3>
					<p>Mozilla/Chrome Browsers Developper's Tools</p>
				</div>
				<div class="col-lg-2 col-md-3 col-sm-6 skill round" data-toggle="modal" data-target="#pixelPerfect">
					<h3 >Browser tools</h3>
					<p >PixelPerfect Chrome/Mozilla extension</p>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 skill" data-toggle="modal" data-target="#photoshop">
					<h3 >Software and tools</h3>
					<p>Adobe Photoshop and Illustrator</p>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 skill" data-toggle="modal" data-target="#sublimeText">
					<h3>Dev Software and tools</h3>
					<p>VS Code, WebStorm, Sublime Text</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-md-offset-2  skill" data-toggle="modal" data-target="#angularJs">
					<h3>AngularJS</h3>
					<p>Have a look at the basic angular app here... Currently Studing...</p>
				</div>
				<div class="col-md-4 skill" data-toggle="modal" data-target="#git">
					<h3>Git and GitHub / Version Control</h3>
					<p>Git Bash and Git GitHub GUI basic operations.</p>
				</div>
			</div>
			<
		</div>
	</section>
<!-- SECTION 3 -->
	<section id="section3" class="container-fluid">
		<div class="container">
			<div class="row heading">
				<h2 class="text-center">My projects:</h2>
			</div>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div id="myProjects" class="carousel slide" data-ride="carousel">
						
						<div class="carousel-inner" role="listbox">
							<div class="item active">
									<iframe width="770px" height="444px" src="https://fitness-solution.github.io" frameborder="0" allowfullscreen></iframe>
								<div class="carousel-caption">	
									<p><a class="btn btn-lg btn-blue-round" href="https://fitness-solution.github.io" target="_blank" role="button">Visit website</a></p>
								</div>
							</div>
							<div class="item">
								<img src="./img/pirotech-co-th.JPG" alt="pawstatic">
								<div class="container">
									<div class="carousel-caption">
										<p><a class="btn btn-lg btn-blue-round" href="http://pirotech.co.th/" target="_blank" role="button">Visit website</a></p>
									</div>
								</div>
							</div>
							<div class="item">
									<iframe width="770px" height="444px" src="https://sergei29.github.io/eventA.html" frameborder="0" allowfullscreen></iframe>
								<div class="container">
									<div class="carousel-caption">
										
										<p><a class="btn btn-lg btn-blue-round" href="https://sergei29.github.io/eventA.html" target="_blank" role="button">Visit website</a></p>
									</div>
								</div>
							</div>
							<div class="item">
									<iframe width="770px" height="444px" src="https://my-project-app-2.firebaseapp.com/" frameborder="0" allowfullscreen></iframe>
								<div class="container">
									<div class="carousel-caption">
										
										<p><a class="btn btn-lg btn-blue-round" href="https://my-project-app-2.firebaseapp.com/" target="_blank" role="button">ReactApp</a></p>
									</div>
								</div>
							</div>
							<div class="item">
								<img src="./img/pawstatic.jpg" alt="pawstatic">
								<div class="container">
									<div class="carousel-caption">
										<p><a class="btn btn-lg btn-blue-round" href="http://pawstatic-training.epizy.com/" target="_blank" role="button">Visit website</a></p>
										<p>AngularJs + ajax requests to php/mysql server</p>
									</div>
								</div>
							</div>
						</div>
						<a class="left carousel-control" href="#myProjects" role="button" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="right carousel-control" href="#myProjects" role="button" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
					</div><!-- /.carousel -->
				</div>
			</div>
					

		</div>
	</section>
<!--SECTION 4  -->
<section id="section4" class="container-fluid">
	<div class="container">
		<div class="row heading">
			<h2 class="text-center">My personal profile and background:</h2>							
		</div>
		<div class="row">
			<h3>Personal Profile:</h3>
			<div class="col-sm-5">
				<blockquote>
					<p>It is not to be better than someone else, but to be better than yesterday.</p>
					<small>Kano Jigoro <cite title="Source Title">The Judo Founder/Japan</cite></small>
				</blockquote>
			</div>
			<div class="col-sm-7 history">
				<p>Name: Serge Basangovs</p> 
				<p>Age:43</p>
				<p>Nationality: French</p>
				<p>Residency: Riga, Latvia since 2011</p>
				<p>Languages fluent: English, French, Latvian, Russian</p>
				<p>Hobbies: Web development, Reading, Languages, Cycling, Cross Fit.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-5">
					<h3>Current position</h3>
					<p>Junior front end developer. <a href="#contact">(email me for a resume)</a></p>
					<h3>Professional background:</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-5">
				<blockquote>
					<p>You can't go back and make a new start, but you can start right now and make a brand new ending.</p>
					<small>James R. Sherman <cite title="Source Title">Book &#34;Rejection&#34; published 1982.</cite></small>
				</blockquote>
			</div>
			<div class="col-sm-7 history">
				<p class="indent">Coming from a completely different to IT sector, therefore just to keep the things simple, I shall be very brief on my history: </p>
				<p class="indent">At age of 43, I believe having a solid professional background related to the oil and gas industry supply chain safety and security management, most of the time working abroad on the rotational expat positions. </p>
			</div>
		</div>
	</div>
</section>
</main>
<!-- ======================== MAIN END ============================================= -->
<!-- ======================== FOOTER START ========================================= -->
<footer class="container-fluid">
	<div id="top-footer">
		<div class="row">
			<div class="col-md-6 diamond">
				<div class="diamond-inner" id="contact">
					<div id="flip-frame">
						<div id="flipper">
							<h3>Get in touch:</h3>
							<p><span class="fa fa-envelope"></span>&nbsp;<a href="mailto:sergei291975@yahoo.fr" id="mail"> sergei291975@yahoo.fr</a></p>
					
							<p><span class="fa fa-phone"></span>&nbsp;<a href="tel:+37126335327" id="mobile">+371 26 335 327</a></p>
						</div>
					</div>							
				</div>
			</div>
			<div class="col-md-3 col-md-offset-3 contactMe">
				<form class="form" id="gform" method="POST" action="https://script.google.com/macros/s/AKfycbwxoPg9fKKYb8_5mrMaBtyjC0aFCwv6zVjyuOh6dAePO8Oykarx/exec">

						<div class="form-group">
							<h3>Message me</h3>
							<label>Your email:</label>
							<input type="email" name="email" id="email" required="required" class="form-control">
							<label>Message:</label>
							<textarea rows="4" cols="20" name="message" id="message" required="required" class="form-control"></textarea>
						</div>
						<div class="form-group">
							<button type="submit" name="submit" class="btn btn-default">
								<i class="fa fa-paper-plane" aria-hidden="true"></i> &nbsp;<strong>Send</strong> 
							</button>
				</form>				
			</div>
			<div style="display: none;" id="thankyou_message">
					<h3>Thank you for your message. Will revert back to you soon!</h3>
			</div>
		</div>
	</div>
</footer>
<div id="bottom-footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<p class="text-center"><small>My Resume Copyright &copy; 2018 &nbsp;credits & attributions:&nbsp;<a href="https://getbootstrap.com" target="_blank">Bootstrap framework</a> ,&nbsp;<a href="https://fontawesome.com/" target="_blank">Font Awesome</a></small></p>
			</div>
		</div>
	</div>
</div>
<!-- ==================================== FOOTER END =============================================== -->
<!--======================================MODALS====================================================== -->
<div>
	<div class="modal fade" id="htmlCss">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<h4>HTML and CSS3</h4>
					<p>Able to:</p>
					<ul>
						<li>Create well structured and code readable html document</li>
						<li>Efficient use of most html elements: semantic and visual, multimedia, typography, forms, tables etc.</li>
						<li>Style the page and configure layout with the CSS</li>
						<li>Configure page layout with the CSS</li>
						<li>Configure the html elements shape with the CSS  </li>
						<li>Responsive pages with CSS media query</li>
						<li>CSS animations: transitions, @keyframe</li>
						<li>CSS pre-processors: sass/scss. Basic patterns: variables, mixins, functions, import sass/scss</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="reactJS">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<h4>ReactJS and react-redux</h4>
					<a href="https://my-project-app-2.firebaseapp.com/" target="_blank">Basic react app on react-redux-firebase</a>
					<ul>
						<li>With create-react-app. create, build, deploy an app</li>
						<li>React components</li>
						<li>Styling with css, scss.</li>
						<li>State management, data flow with props. Conditional rendering</li>
						<li>React components CSS animations</li>
						<li>Router</li>
						<li>Redux global state management</li>
						<li>Async requests. Thunk functions. Using fetch and axios for async requests</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="javaScriptSkill">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<h4>JavaScript ES5/ES6</h4>
					<p> Basic Javascript skills:</p>
					<ul>
						<li>JS synthax</li>
						<li>variables var types</li>
						<li>operate strings. string properties.  string prototype methods</li>
						<li>Objects and arrays / properties/  array prototype methods / object prototype methods</li>
						<li>Numbers. basic math operations/ properties and methods</li>
						<li>conditions if/else/ternary/ switch</li>
						<li>while/for loops. Loop operators</li>
						<li>js functions</li>
						<li>declare and call function, parameters and return data/ pure functions</li>
						<li>High-order functions</li>
						<li>Function prototype methods, .call(), bind(), .apply()</li>
						<li>ES5 constructor functions. create object properties and methods</li>
						<li>interaction with DOM, events. Methods to apply event listeners</li>
						<li>introduction to regular expressions - regex</li>
						<li>ES6: let and const, template literals `${variable_name}`</li>
						<li>ES6: arrow functions , classes and inheritance from parent class, passing default parameters</li>
						<li>ES6: array and object destucturing and methods([...arr] / {...obj, {key: val}} / Object.assign(), etc)</li>
						<li>ES6: modules, export and import</li>
						<li>Babel compiler use to get browser compatible js code</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="bootstrapSkill">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<h4>Bootstrap</h4>
					<ul>
						<li>Versions 3 and 4</li>
						<li>Customize and theming the Bootstarap 3 and 4 with css pre-processors and js</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="jQuerySkill">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<h4>jQuery and jQueryUI</h4>
					<p>Such a great JS library as jquery- certainly indeed for the people like myself who are not quite fluent yet with the javascript</p>
					<p>The things I've managed to do so far:</p>
					<ul>
						<li>select, read and modify the webpage html elements, their attributes, css properties and content</li>
						<li>DOM model tree override: find(), parent(), siblings() etc.</li>
						<li>add/remove content to webpage</li>
						<li>jQuery events / managing the events/ event delegation with function on()</li>
						<li>jQuery animation and effects</li>
						<li>jQuery forms improvement. Forms validation. jQueryUI forms enhancement(autocomplete etc.)</li>
						<li>jQueryUI widgets. Draggable() and droppable(). jQueryUI effects. </li>
						<li>jQuery AJAX technology. load(), get() and post(), $.getJSON() methods</li>
					</ul> 
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="backEnd">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<h4>Basics of PHP and MySQL</h4>
					<p>Being more front-end oriented, I had a look into the PHP basics just to have an idea how are the front-end and back-end both getting on together</p> <p>So to get myself a server model, I have used the server emulation WAMP-style software (Windows-Apache-MySql-Php) in order to make my html and php files working.</p>
					<p>Basic operations I have learned:</p>
					<ul>
						<li>embedding php in html</li>
						<li>variables in php </li>
						<li>getting data from request: $_GET and $_POST arrays and getting data off the array</li>
						<li>send data to browser with echo-statement </li>
						<li>establishing connection with MySQL database</li>
						<li>The SQL statements for data manipulation: CREATE DATABASE, CREATE TABLE, SELECT, INSERT, UPDATE, and DELETE </li>
						<li>how PHP communicates to MySQL these queries.</li>
						<li>php basic operations on getting data from browser openning connection with mysql - send data - close connection with mysql. And vise-versa : php openning connection with mysql - acquire data - send to browser</li>
						<li>phpMyAdmin interface overview</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="devTools">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<h4>Browser Developer Tools</h4>
					<p>Probably one of most frequent tools used - are developer tools in Chrome or Mozilla to check for code errors, failed to load files, javascript errors in console, different screen-size views - responsiveness check, find check and change the css properties of an element</p>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="pixelPerfect">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<h4>PixelPerfect</h4>
					<p>Another Browser Chrome/Mozilla extension - I am using it to compare my webpage each element layout with the initial designer's tempate, for example, when I create a webpage from some PSD template </p>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="photoshop">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<h4>Adobe Photoshop and Adobe Illustrator</h4>
					<p>Working with webpage templates (.psd) at the developer's level to get fonts, colors (I've discovered, realy handy comes here the photoshop extension - CSS Hat), work with layers to get images, operate images -crop, resize, save for web, gif, jpeg, png - depending on needs for quality, size, transparency etc. If using bootstrap , I set the 12-grid guides net to the .psd template</p>
					<p>Adobe Illustrator rarely using to get the svg image code - looking forward to learn more later.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="sublimeText">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<h4>VS Code/ WebStorm/ Sublime Text/</h4>
					<p>It is just a matter of preference, I believe, which text editor to use for writing a code. I am using VS Code most often just for a reason it being functional and responding to my needs. It has a good selection of Packages for various kinds, but what I am using are: </p>
					<ul>
						<li>html and css autocomplete packages</li>
						<li>js hint/ linter package</li>
						<li>emmet package</li>
						<li>link autocomplete</li>
						<li>bootsrap 3&4 snippets</li>
						<li>css and js minify package</li>
						<li>sass/scss packages</li>
						<li>ReactJs, html->jsx packages</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="angularJs">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">Close</button>
					<h4 class="modal-title">Basic AngularJS App</h4>
				</div>
				<div class="modal-body">
			<!--=====================AngularJS App insert here:======================== -->
					<section id="sectionApp" class="container-fluid" ng-app="testApp">
						<link rel="stylesheet" type="text/css" href="myApp/css/main.css">
						<div class="container" ng-controller="mainCtrl">
							<div class="row">
								<h1>World Geography - General Knowledge Quiz.</h1> 
								<div class="col-sm-8 " 
								id="viewFrame">
									
									<form class="form" name="greetingForm" novalidate ng-submit="startTest(selectedTest)" ng-show="!showTest" id="greetingForm">
										<h2>Please, enter your name to start</h2>
										<div class="form-group">
											<label for="name" class="control-label">Name:</label>
											<input type="text" name="name" required ng-model="guestName" class="form-control">
											<span ng-show="greetingForm.name.$error.required" class="error">
											 <small>Required field</small>	
											</span>
										</div>
										<div class="form-group" ng-show="guestName">
											<h3>Hello {{guestName}} , select your test, please: </h3>
											<select class="form-control" 
															ng-model="selectedTest"
															ng-options = "item.category as item.category for item in test "
															required>
												
											</select>
										</div>
										<button class="btn btn-primary btn-block"
														type="submit" 
														ng-disabled = "greetingForm.$invalid"
														ng-show="guestName">
											Proceed to test
										</button>
									</form>

									<div ng-if="showTest" ng-switch on ="showTest" ng-controller="checkAnswersCtrl" id="partialsContainer">
										<div ng-switch-when="testA" class="testContainer">
											<h2 class="partials">Hi {{guestName || "Guest"}}, your current test: Test A</h2>						
											<ng-include src="pageView"> </ng-include>

										</div>
										<div ng-switch-when="testB" class="testContainer">
											<h2 class="partials">Hi {{guestName || "Guest"}}, your current test: Test B</h2>
											<ng-include src="pageView"> </ng-include>
										</div>
										<div ng-switch-when="testC" class="testContainer">
											<h2 class="partials">Hi {{guestName || "Guest"}}, your current test: Test C</h2>
											<ng-include src="pageView"> </ng-include>
										</div>
									</div>
								</div>			
							</div>
						</div>	
					</section>	

			<!--=====================AngularJS App ends here======================== -->
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="git">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<h4>Git Bash, command line operations:</h4>
					<ul>
						<li>Bitbucket and Github clouds experience</li>
						<li>Initialize, add, commit, remove git operations</li>
						<li>clone from repository, pull from origin, push to origin branch</li>
						<li>Working with branches, create, move from branch to another, merge, find differences</li>
						<li>Work with repositories, create repo, clone a remote repo, publish local repo to GitHub, push new branch to remote repo, pull-requests. </li>
						<li>Forking the repository, work with local-origin-upstream repos</li>
						<li>Git configuration, settings. Create git aliases.</li>
						<li>Git ancestry references, going back with --hard reset</li>
						<li>Git cherry-picking</li>
						<li>Introduction to workflows; GitHub workflow; GitFlow workflow; Linux Kernel git workflow.</li>
					</ul>					
				</div>
			</div>
		</div>
	</div>
</div>
<!--======================================MODALS END====================================================== -->
<!--==============Arrow scroll back to top page=================================== -->
		<div class="back-to-top thumbnail" style="display: inline;">
			<a href="#top-header" data-toggle="tooltip" title="Back To Top" data-placement="top" >
				<i class="fa fa-angle-up" style="color: #124259;"></i>
			</a>
		</div>				
<!--=================================================================================== -->
<!-- Submit the Form to Google Using "AJAX" -->
<script data-cfasync="false" type="text/javascript" src="js/form-submission-handler.js"></script>
</body>


